body {
	background-color: white;
	div {
		div {
			header {
				ul {
					li {
						a.active, a:hover {
							color:#337ab7;
							background: #eeeeee;
						}
					}
				}
			}
			div {
				div {
					div {
						div {
							div {
								div {
									div {
										form {
											div {
												button {
													margin-top: 10px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	p {
		color: red;
	}
}