//Sass css format
body {
	background-color: white;
	div {
		div {
			header {
				ul {
					li {
						a.active, a:hover {
							color:#337ab7;
							background: #eeeeee;
						}
					}
				}
			}
			div {
				div {
					div {
						margin-top: 30px;
						img {
							padding-right: 20px;
							height: 210px;
						}
						div {
							div {
								h2 {
									margin-top: 0px;
								}
								form {
									div {
										button {
											margin-top: 10px;
										}
									}
								}
								margin-top: 0px;
								div {
									div {
										form {
											div {
												button {
													margin-top: 10px;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	p {
		color: red;
	}
}